@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#body{
    padding-left: 390px;
    position: relative; top: -180px;
}
#button{ 
    background-color:black ;
    border: none;
    text-decoration: none;
    display: inline-block;

}
#button:hover{background-color:plum;}

#video {
    position: relative; right: -200px;
}
